main.main
	.section-hero
		.section-hero__item(style="background-image:url(./img/slide.jpg)")
			.container
				.section-hero__inner
					.section-hero__left
						.section-hero__title.h1.h1_white Устранение засоров <br>Прочистка канализации
							span в Оренбурге
						.section-hero__text
							ul
								li Проведем видеодиагностику систем вентиляции.<br>Предоставляем ассенизаторские услуги
								li Приедем в течение 30 минут.<br>Работаем 24/7
					.section-hero__right
						img.section-hero__img(src="./img/photos.png" alt="")
						.section-hero__subtitle 
							span 30+
							| Профессионалов в команде
						.section-hero__block
							.section-hero__block-title Гарантия качества
							.section-hero__block-text Вы платите деньги только 
								strong после устранения 
								| проблемы
.section-info
	.container
		.section-info__inner
			.section-info__left 
				.section-info__title Чистим везде, где есть трубы!
				img(src="./img/circle.png" alt="")
			.section-info__right
				.section-info__items
					.section-info__item
						.section-info__icon
							img(src="./img/group.png" alt="")
						.section-info__text ТСЖ, ЖСК, УК
					.section-info__item
						.section-info__icon
							img(src="./img/factory.png" alt="")
						.section-info__text Заводы и предприятия
					.section-info__item
						.section-info__icon
							img(src="./img/building.png" alt="")
						.section-info__text Квартиры и таунхаусы
					.section-info__item
						.section-info__icon
							img(src="./img/skyscrapper.png" alt="")
						.section-info__text Офисы и бизнес-центры
					.section-info__item
						.section-info__icon
							img(src="./img/eating.png" alt="")
						.section-info__text Рестораны и кафе
					.section-info__item
						.section-info__icon
							img(src="./img/gas-station.png" alt="")
						.section-info__text Автомойки и АЗС
					.section-info__item
						.section-info__icon
							img(src="./img/house.png" alt="")
						.section-info__text Частные дома и коттеджи
					.section-info__item
						.section-info__icon
							img(src="./img/store.png" alt="")
						.section-info__text ТЦ и магазины
.section-services
	.container
			.section-services__intro
				.section-services__title.h2 Выберите необходимую вам услугу,<br>
					strong мы справимся с любым засором
				.section-services__subtitle Указанные цены являются минимальными. Точная цена озвучивается специалистом при консультации клиента по телефону
				a.button(href="") Нужна консультация
			.section-services__items.services
				.services__item(style="background-image:url(./img/service1.png)")
					.services__inner 
						.services__left
							.services__text Устранение засоров в квартирах
							.services__cost от 500 руб.
						a.button-plus(href="")
				.services__item(style="background-image:url(./img/service2.png)")
					.services__inner 
						.services__left
							.services__text Устранение засоров в домах / коттеджах
							.services__cost от 800 руб.
						a.button-plus(href="")
				.services__item(style="background-image:url(./img/service3.png)")
					.services__inner 
						.services__left
							.services__text Устранение засоров в кафе / на предприятиях
							.services__cost от 1 200 руб.
						a.button-plus(href="")
				.services__item(style="background-image:url(./img/service4.png)")
					.services__inner 
						.services__left
							.services__text Прочистка колодцев
							.services__cost от 2 000 руб.
						a.button-plus(href="")
				.services__item(style="background-image:url(./img/service5.png)")
					.services__inner 
						.services__left
							.services__text Разморозка канализации
							.services__cost от 2 000 руб.
						a.button-plus(href="")
				.services__item(style="background-image:url(./img/service6.png)")
					.services__inner 
						.services__left
							.services__text Услуги сантехника
							.services__cost от 500 руб.
						a.button-plus(href="")
.section-order 
	.container 
		.section-order__inner 
			.section-order__left 
				.section-order__title.h2.h2_white Проблемы с канализацией?
				.section-order__text Позвоните нам по номеру 
					a(href="tel:+73532555519") +7 (3532) 55 55 19 
					| или оставьте заявку.<br>Наши специалисты избавят вас от канализационных проблем
			.section-order__right 
				form.form.form_invert(action="" method="post")
					.form__columns
						.form__field 
							input.form__field-user(type="text" value="" placeholder="Ваше имя")
						.form__field 
							input.form__field-tel(type="tel" value="" placeholder="Номер телефона")
					.form__field
						label.custom-checkbox.custom-checkbox_white
							input.custom-checkbox__checkbox(type="checkbox" name="")
							span.custom-checkbox__span
							span.custom-checkbox__label Даю согласие на обработку своих 
								a(href="") персональных данных
					input.button.button_white(type="submit" value="Нужна консультация")
.section-advantages
	.container 
		.section-advantages__intro
			.section-advantages__subtitle.orange-text Почему мы?
			.section-advantages__title.h2 Наши преимущества
		.section-advantages__items 
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/stopwatch.png" alt="")
				.section-advantages__name Оперативный выезд
				.section-advantages__text Наша аварийная бригада будет на месте уже через 30 минут!
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/24-hours-support.png" alt="")
				.section-advantages__name Работаем круглосуточно
				.section-advantages__text Мы готовы выехать на вызов в любое время суток круглый год!
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/ruble2.png" alt="")
				.section-advantages__name Выгодные цены
				.section-advantages__text Сохраняем демократичные цены при безупречном качестве. Постоянным клиентам скидка 10%
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/shield.png" alt="")
				.section-advantages__name Гарантия 1 месяц
				.section-advantages__text Работая с 2012 года, мы накопили огромный опыт, который позволяет давать гарантию на качество работ
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/pump.png" alt="")
				.section-advantages__name Проф. оборудование
				.section-advantages__text Мощнейший каналопромывочный аппарат позволяет качественно удалять засоры в трубах от 20 до 400 мм
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/pipe.png" alt="")
				.section-advantages__name Готовы к крупным заказам
				.section-advantages__text Профессионализм, техническая база и большой опыт позволяют нам устранять засоры в 95% случаев
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/plumber.png" alt="")
				.section-advantages__name Лучшие специалисты
				.section-advantages__text Аккуратные вежливые и трезвые сантехники устранят засор и подскажут, как избежать новых
			.section-advantages__item 
				.section-advantages__icon
					img(src="./img/wallet.png" alt="")
				.section-advantages__name Удобная оплата
				.section-advantages__text Оплата наличным и безналичным платежом после устранения засора со всеми документами (акты, чеки и.д.)
.section-circles 
	.container 
		.section-circles__title 
			span PROCHISTKA56.RU —
			| компания, которой доверяют!
		.section-circles__text Мы оказывает широкий спектр услуг по аварийному и плановому обслуживанию систем канализации и вентиляции. Нашими клиентами являются как крупные федеральные сети, так и небольшие кафе и рестораны. Собственный автопарк и быстрое реагирование на заявки
		.section-circles__items 
			.section-circles__item
				.section-circles__name 10 лет
				.section-circles__desc Предоставляем услуги прочистки канализациии
			.section-circles__item
				.section-circles__name 20 000 км
				.section-circles__desc Прочищенных труб
			.section-circles__item
				.section-circles__name 50 000 м3
				.section-circles__desc Вывезенного жирового осадка
			.section-circles__item
				.section-circles__name 4 200
				.section-circles__desc Засоров канализации устранено
.section-sale
	.container
		.section-sale__inner
			.section-sale__title При заказе гидродинамической промывки
				span скидка 500 рублей 
				| на услугу видеодиагностики <br>или прочистку переходного колодца!*
			form.form.form_invert(action="" method="post")
					.form__columns
						.form__field 
							input.form__field-user(type="text" value="" placeholder="Ваше имя")
						.form__field 
							input.form__field-tel(type="tel" value="" placeholder="Номер телефона")
					.form__field
						label.custom-checkbox.custom-checkbox_white
							input.custom-checkbox__checkbox(type="checkbox" name="")
							span.custom-checkbox__span
							span.custom-checkbox__label Даю согласие на обработку своих 
								a(href="") персональных данных
					.flex-buttons
						input.button.button_white(type="submit" value="Нужна консультация")
						.ps *Период действия акции ограничен,<br>подробности уточняйте у менеджера
.section-reviews 
	.container 
		.section-reviews__intro
			.section-reviews__subtitle.orange-text О нас
			.section-reviews__title.h2 Отзывы наших клиентов
		.reviews-slider 
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
			div
				.reviews-slider__item
					img(src="./img/review.png" alt="")
.section-work
	.container 
		.section-work__title.h2 Как мы работаем?
		.section-work__items 
			.section-work__item.active 
				.section-work__count 01.
				.section-work__name Заявка
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков
			.section-work__item
				.section-work__count 02.
				.section-work__name Консультация
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков
			.section-work__item
				.section-work__count 03.
				.section-work__name Согласование
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков
			.section-work__item
				.section-work__count 04.
				.section-work__name Выполнение работ
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков
			.section-work__item
				.section-work__count 05.
				.section-work__name Документы
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков
			.section-work__item
				.section-work__count 06.
				.section-work__name Оплата
				.section-work__text 
					p При выполнении работ по очистке канализации мы придерживаемся высоких стандартов качества. 
					p Мы используем современное оборудование чтобы обеспечить эффективную и безопасную очистку труб и канализационных стоков

.section-gallery
	.container
		.section-gallery__top
			.section-gallery__title.h2 Наши работы
			a.button-gallery(href="") Смотреть больше
		.section-gallery__items
			.section-gallery__item.section-gallery__item_big(style="background-image:url(./img/gallery1.png)")
			.section-gallery__item.section-gallery__item_min(style="background-image:url(./img/gallery2.png)")
			.section-gallery__item.section-gallery__item_min(style="background-image:url(./img/gallery3.png)")
			.section-gallery__item.section-gallery__item_min(style="background-image:url(./img/gallery4.png)")
			.section-gallery__item.section-gallery__item_min(style="background-image:url(./img/gallery5.png)")
.section-clients 
	.container 
		.section-clients__title.h2 Наши постоянные клиенты
		.section-clients__items 
			img(src="./img/client1.png" alt="")
			img(src="./img/client2.png" alt="")
			img(src="./img/client3.png" alt="")
			img(src="./img/client4.png" alt="")
			img(src="./img/client5.png" alt="")
.section-desc 
	.container 
		.section-desc__flex 
			.section-desc__left(style="background-image:url(./img/info1.png)")
			.section-desc__right 
				.section-desc__title Прочистка канализации в Оренбурге
				.section-desc__text 
					p При промывке внутренней канализации предприятий диаметром 110-200 мм используется переносное оборудование Nilfisk-Alto Neptune 2 (работа паром) с напряжением 380 В.
					p Если регулярно не ухаживать за трубами, слой налета постоянно увеличивается, что приводит к снижению проходимости канализационных труб
		.section-desc__flex.section-desc__flex_invert 
			.section-desc__left(style="background-image:url(./img/info2.png)")
			.section-desc__right 
				.section-desc__title Прочистка канализации универсальное решение для любого случая
				.section-desc__text 
					p Устранить засор позволит прочистка канализации в доме. В зависимости от сложности загрязнения может использоваться один из методов:
					ul 
						li механическая прочистка при помощи спиралей и особых насадок
						li гидродинамическая прочистка 
						li химическая прочистка 
		.section-desc__flex 
			.section-desc__left(style="background-image:url(./img/info3.png)")
			.section-desc__right 
				.section-desc__title Обратиться за помощью к профессионалам за чисткой канализации в Оренбурге
				.section-desc__text 
					p Промывка канализации в Оренбурге с привлечением специалистов аварийной службы – это возможность быстро и эффективно избавиться от сложных засоров и продлить срок службы системы.
					a.button(href="") Нужна консультация

