footer.footer
	.footer__top
		.container.container_grid
			.footer__left
				.footer__caption.h2 Остались вопросы?
				.footer__contacts
					.footer__contacts-phone
						a.footer__info(href="tel:+73532555519") +7 (3532) 55 55 19
					.footer__contacts-whatsapp
						a.footer__info(href="https://wa.me/79225419845") +7 (922) 541 98 45
					.footer__contacts-address
						.footer__info Место для адреса
				.footer__socials 
					a(href="")
						img(src="./img/vkontakte.png" alt="")
					a(href="")
						img(src="./img/odnoklassniki.png" alt="")
			.footer__right 
				form.form(action="" method="post")
					.form__text Позвоните нам или оставьте заявку ниже и получите бесплатную консультацию нашего специалиста
					.form__columns
						.form__field 
							input.form__field-user(type="text" value="" placeholder="Ваше имя")
						.form__field 
							input.form__field-tel(type="tel" value="" placeholder="Номер телефона")
					.form__field
						textarea(placeholder="Напишите здесь ваш вопрос")
					.form__field
						label.custom-checkbox 
							input.custom-checkbox__checkbox(type="checkbox" name="")
							span.custom-checkbox__span
							span.custom-checkbox__label Даю согласие на обработку своих 
								a(href="") персональных данных
					input.button.button_big(type="submit" value="Оставить заявку на консультацию")
	.footer__map
	.footer__bottom
		.container.container_flex
			.copyright 2023. Все права защищены
			.politics
				a(href="") Политика конфиденциальности
			.create
				a(href="") Создание сайта






script(src="./libs/js/jquery.min.js")
script(src="./libs/slick/slick.js")
script(src="./js/main.js")