header.header
	.header__top
		.container.container_flex
			a.logo(href="/index.html") Prochistka56.ru
			.header__contacts
				a.header__phone(href="tel:+73532555519") +7 (3532) 55 55 19
				a.header__whatsapp(href="https://wa.me/79225419845") +7 (922) 541 98 45
				a.button.button_gradient(href="") Заказать звонок
			.hamburger.hamburger--squeeze.js-hamburger
				.hamburger-box
					.hamburger-inner
	.header__bottom
		.container
			nav.menu
				ul
					li
						a(href="") Услуги и цены
					li
						a(href="") Почему мы?
					li
						a(href="") О нас
					li
						a(href="") Отзывы
					li
						a(href="") Схема работ
					li
						a(href="") Фото работ
					li
						a(href="") Контакты