.form {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0px 10px 38px 0px rgba(39, 39, 47, 0.08);
  padding: 6rem 6rem 8rem 6rem;

  @media (max-width: 767px) {
    padding: 3rem 3rem 4rem 3rem;
  }
  &__text {
    color: $color-primary;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 2.7rem;
  }
  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  &__field {
    margin-bottom: 2.4rem;
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      height: 6.1rem;
      width: 100%;
      border: 1px solid $color-border;
      padding-left: 4.9rem;
      font-size: 1.6rem;
      color: $color-text;
      border-radius: 30.5rem;
      background-color: #fff;
    }
    &-user {
      background: url(../img/user.png) 2.9rem center no-repeat;
    }
    &-tel {
      background: url(../img/phone-call2.png) 2.7rem center no-repeat;
    }
    textarea {
      width: 100%;
      height: 21.8rem;
      border-radius: 2rem;
      border: 1px solid $color-border;
      padding: 2rem 3rem;
      font-size: 1.6rem;
    }
  }
  &_invert {
    padding: 0;
    background: none;
    box-shadow: none;
    width: 75rem;

    @media (max-width: 992px) {
      width: auto;
    }
  }
}
.custom-checkbox {
  display: flex;
  gap: 1rem;
  &__checkbox {
    display: none;
  }
  &__span {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $color-border;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
  }
  &__span,
  &__label {
    display: block;
  }
  &__span {
    margin-top: 0.2rem;
  }
  &__label {
    font-size: 1.6rem;
    line-height: 2.2rem;
    a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__checkbox:checked + &__span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
    bottom: 0.2rem;
    left: 0.2rem;
    background: url(../img/check.png) top center no-repeat;
    background-size: contain;
  }
  &_white {
    color: #fff;
  }
}
