$font: "Exo 2", sans-serif;
$font2: "Raleway", sans-serif;
$color-text: #000000;
$color-primary: #2b8bff;
$color-second: #ff9000;

$color-border: #dfe4eb;
$color-footer-bg: #f2f2f3;
$color-footer-text: #9c9c9c;
